.container {
  width: 480px;
  height: 240px;
  margin: 16px auto;
  background:
  /* верхний фон */ linear-gradient(
      26.3deg,
      /* черный прозрачностью .2 */ hsla(0, 0%, 0%, 0.2),
      hsla(0, 0%, 0%, 0.2) 50%,
      transparent 50%,
      transparent
    ),
    /* нижний фон */
      linear-gradient(153.3deg, teal, teal 50%, slategray 50%, slategray);
  position: relative;
}

.box {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  background-color: orange;
  display: flex;
  /* Напиши код под этой строкой */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*
  центрируем элемент при
  родителе под flex
 */
span {
  margin: auto;
}
