[data-transform='none'] {
  text-transform: none;
}

[data-transform='uppercase'] {
  text-transform: uppercase;
}

[data-transform='lowercase'] {
  text-transform: lowercase;
}

[data-transform='capitalize'] {
  text-transform: capitalize;
}
